 @import url('https://fonts.cdnfonts.com/css/miama');
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

 /* font  */

 * {
     margin: 0;
     padding: 0;
 }

 :root {
     --bg-primary: black;
     --bg-secondary: rgb(34, 34, 34);
     --bg-lighten: rgb(230, 83, 60);
 }

 .container {
     max-width: 1060px;
     margin: 0px auto;
 }

 .row {
     display: flex;
 }

 a,
 a:hover {
     text-decoration: none;
 }

 body {
     font-family: Inter;
     background-color: rgb(0, 0, 0);
     color: white;
 }

 /* basic css */
 /* header start */
 /* navbar start */
 #header {
     max-width: 1440px;
     margin: 0px auto;
     background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
     padding-top: 58px;
 }

 #header .row {
     justify-content: space-between;
     align-items: center;

 }

 .navbar {
     height: 46px;
     margin-bottom: 32px;
 }

 #header .navbar .logo h1 {
     color: rgb(230, 83, 60);
     font-size: 2rem;
     font-weight: 800;
     line-height: 120%;
     letter-spacing: 0%;
     text-align: left;
     font-style: italic;
 }

 #header .nav-item ul {
     list-style: none;
     box-sizing: border-box;
     border: 1px solid rgba(255, 255, 255, 0.1);
     border-radius: 39px;
     padding: 12px 20px;

 }

 #header .nav-item ul li {
     margin: 0px 23px;
 }

 #header .nav-item a {
     font-size: 1.2rem;
     padding: 8px 20px;
     color: white;
     transition: all linear 0.2s;
     border-radius: 46px;

 }

 #header .nav-item a:hover,
 .active {
     background-color: var(--bg-lighten);
 }

 /* navbar end */
 #header .hero-section {
     justify-content: space-between;
     align-items: center;
 }

 #header .hero-section .title {
     margin-right: 50px;
     flex: 1;
 }

 #header .hero-section .title h1 {
     color: rgb(255, 255, 255);
     font-size: 4.87rem;
     font-weight: 900;
     line-height: 100%;
     letter-spacing: 0%;
     text-align: left;
     margin-bottom: 28px;
 }

 #header .hero-section .title span {
     font-family: miama;
     color: rgb(255, 255, 255);
     font-size: 10rem;
     font-weight: 500;
     letter-spacing: 0%;
     text-align: left;
 }

 #header .hero-section .title p {
     color: rgba(255, 255, 255, 0.5);
     font-size: 1rem;
     font-weight: 400;
     line-height: 24px;
     letter-spacing: 0.5px;
     text-align: left;
     margin-bottom: 28px;
 }

 #header .hero-section .img {
     flex: 1;
     text-align: center;
     position: relative;
 }

 #header .hero-section .btn {
     justify-content: left;
     align-items: center;
 }

 #header .hero-section .btn button {
     border: none;
     background: none;
     margin-right: 14px;
 }

 #header .hero-section .btn button a {
     padding: 16px 40px;
     color: rgb(255, 255, 255);
     font-size: 1.1rem;
     font-weight: 600;
     line-height: 22px;
     letter-spacing: 0px;
     text-align: left;
     border-radius: 42px;

 }

 #header .hero-section .btn-one a {
     background: var(--bg-lighten);
 }

 #header .hero-section .btn-two a {
     box-sizing: border-box;
     border: 1px solid rgb(255, 255, 255);

 }

 #header .position-item {
     display: flex;
     justify-content: space-between;
     align-items: center;

 }

 #header .positon-item .text-one {
     box-sizing: border-box;
     border: 1px solid rgba(255, 255, 255, 0.1);
     border-radius: 12px;
     backdrop-filter: blur(20px);
     background: rgba(48, 48, 48, 0.54);
     justify-content: center;
     align-items: center;
     padding: 20px 23px;
     position: absolute;
     left: 0%;
     bottom: 14%;
 }

 #header .positon-item .text-one .fa-solid {
     font-size: 2.5rem;
     color: var(--bg-lighten);
     border-radius: 50px;
 }

 #header .positon-item .text-one .text-item {
     margin-left: 12px;
 }

 #header .positon-item .text-one .text-item h1 {
     color: rgb(250, 250, 249);

     font-size: 1.5rem;
     font-weight: 900;
     line-height: 24px;
     letter-spacing: 0.3px;
     text-align: left;
 }

 #header .positon-item .text-one .text-item p {
     color: rgba(239, 237, 232, 0.65);
     font-size: 1rem;
     font-weight: 400;
     line-height: 24px;
     letter-spacing: 0.5px;
     text-align: left;
 }

 #header .positon-item .text-two {
     box-sizing: border-box;
     border: 1px solid rgba(255, 255, 255, 0.1);
     border-radius: 12px;
     backdrop-filter: blur(20px);
     background: rgba(255, 255, 255, 0.1);
     padding: 17px 24px;
     position: absolute;
     right: 0%;
     top: 25%;
 }

 #header .positon-item .text-two h1 {
     color: rgb(255, 255, 255);
     font-size: 2.5rem;
     font-weight: 900;
     line-height: 40px;
     letter-spacing: 1px;
     text-align: left;
 }

 #header .positon-item .text-two p {
     color: rgba(255, 255, 255, 0.65);
     font-size: 0.9rem;
     font-weight: 400;
     line-height: 20px;
     letter-spacing: 1px;
     text-align: left;
 }

 /* header end */
 /* habit section start */
 #habit {
     margin: 100px auto;
 }

 #habit .container .title-heading h1 {
     color: rgb(255, 255, 255);
     font-size: 3rem;
     font-weight: 900;
     line-height: 120%;
     letter-spacing: 0%;
     text-align: center;
     margin-bottom: 14px;
 }

 #habit .container .title-heading p {
     color: rgba(255, 255, 255, 0.5);
     font-size: 0.9rem;
     font-weight: 400;
     line-height: 24px;
     letter-spacing: 0.3px;
     text-align: center;
     margin: 0px auto 58px auto;
 }

 #habit .img-item {
     display: flex;
     margin: 0 auto;
 }

 #habit .item {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 #habit .img-item .img {
     height: 180px;
     width: 180px;
     border-radius: 50%;
     overflow: hidden;
     margin-bottom: 30px;

 }


 #habit .item h1 {
     color: rgb(255, 255, 255);
     font-size: 1, 1rem;
     font-weight: 600;
     line-height: 120%;
     letter-spacing: 0%;
     text-align: center;
     margin-bottom: 6px;
 }

 #habit .item p {
     color: rgba(255, 255, 255, 0.5);
     font-size: 0.9rem;
     font-weight: 400;
     line-height: 18px;
     letter-spacing: 0.3px;
     text-align: center;
 }

 #habit .item img:hover {

     transition: all linear 0.3s;
 }

 #habit .item img:hover {
     transform: scale(1.1);
 }

 /* habit section end */

 /* small device media-quary start*/
 @media screen and (max-width:576px) {
     .navbar {
         display: none;
     }

     #header .hero-section .title {
         margin: 50px 0px;
     }

     .hero-section {
         flex-direction: column;
     }

     #header .hero-section .btn button a {
         padding: 16px 20px;

     }

     #header .positon-item .text-one {
         position: absolute;
         left: -15%;
         bottom: 45%;
     }
     #header .positon-item .text-two {
         position: absolute;
         right: -15%;
         top: 8%;
     }

     #habit .img-item {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
     }

     #habit .item p {
         width: 231px;
         margin-bottom: 40px;
     }

     #habit {
         margin: 50px auto;
     }
 }

 /* small device media-quary  end*/
 /* med-device media-quary start*/
 @media screen and (max-width:992px) and (min-width:576px) {

     #header .hero-section .title {
         margin: 70px 70px;
     }

     .hero-section {
         flex-direction: column;
     }

     #header .nav-item ul li {
         margin: 0px 8px;
     }

     #header .nav-item a {
         padding: 8px 15px;
     }

     #header .nav-item ul {
         padding: 12px 10px;

     }

     .navbar {
         margin: 0px 10px;
     }

     #header .hero-section .title {
         margin: 80px 180px;
     }

     #header .hero-section .img {
         text-align: left;
     }

     #header .positon-item .text-one {
         position: absolute;
         left: 0%;
         bottom: 25%;
     }

     #header .positon-item .text-two {
         position: absolute;
         right: -20%;
         top: 10%;
     }

     #habit .img-item {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
     }

     #habit .item p {
         width: 231px;
         margin-bottom: 40px;
     }

     #habit {
         margin: 50px auto;
     }
 }

 /* med-device media-quary  end*/
 /* large device media-quary start*/
 /* large device media-quary  end*/